<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>1-bind</title>
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
        .bgc {
            background-color: lightcoral;
        }
        .fontS {
            font-size: 30px;
        }
        .fontC {
            color: aquamarine;
        }
        .div1 {
            width: 200px;
            height: 200px;
            border: 2px solid black;
        }
        .one {
            width: 200px;
            height: 200px;
            border: 2px solid black;
        }
        .circle {
            width: 200px;
            height: 200px;
            background-color: lightblue;
            border-radius: 50%;
        }
        .hideDiv {
            display: none;
        }
    </style>
</head>
<body>
<!--
      1. Vue介绍:
        Vue是一个MVVM的Javascript框架; ViewModel负责逻辑的实现, 把Model里的数据传递给View, 实现视图层与数据层的解耦.
      2. Vue的开发方式:
        2.1  通过直接引入Vue.js 实现简单的开发
        2.2  使用Vue CLI 脚手架工具进行开发
-->
<!--
        Vue数据绑定知识点:
        1. 数据绑定
            1.1 值绑定
                1.1.1  {{}} 插值表达式
                1.1.2  使用v-text和v-html进行数据绑定
            文本闪烁问题:
            当我们使用外部引入vue.js的方式进行开发时, 如果vue.js文件没有及时加载, 导致系统无法识别vue的语法, 原vue语法会原样输出
            解决办法:
            1. 在head标签里引入vue.js文件
            2. 使用v-cloak指令, 专门用来解决文本闪烁问题.
            我们自己会给添加了v-cloak指令的元素设置display:none先让其隐藏, 等到vue.js文件加载之后v-cloak起效果, 会将之前隐藏的元素display设置成block.

            1.2 属性绑定
                在vue里, 属性不区分html属性和dom属性
                1.2.1 语法:
                    v-bind: 属性名='值'
                      简写:
                    : 属性名='值'
                1.2.2 动态绑定元素的样式
                    动态绑定class属性
                        :class='对象/数组'
                    动态绑定style属性
                        :style='对象/数组'
            1.3 事件绑定
                语法:
                    v-on: 事件名='表达式'  如果值是'函数名()' 小括号可加可不加
                简写:
                    @事件名='表达式'

                vue的事件修饰符
                1. 普通事件
                    stop: 阻止事件的传播
                    prevent: 阻止默认事件的执行
                    once: 一次性事件

                2. 键盘事件
                     enter, tab, left, right, up, down, meta, ctrl, shift, alt, delete, esc
            1.4 双向数据绑定
                v-model='变量'
-->
<div id="app">
    <fieldset>
        <legend><h1>值绑定</h1></legend>
        <h2>{{msg}}</h2>
        <p v-cloak>3+5的结果是:{{3+5}}</p>
        <p>性别是:{{isMan ? '男' : '女'}}</p>
        <hr>
        <p>{{vText}}</p>
        <p v-text="vText"></p>
        <p v-html="vText"></p>
        <hr>
        <!--
            v-text和v-html的区别:
            v-text会把数据原样输出
            v-html如果数据里有标签, 会将其解析再输出
        -->
        <p v-text="vHtml"></p>
        <p v-html="vHtml"></p>
        <p>{{vHtml}}</p>
    </fieldset>

    <fieldset>
        <legend><h1>属性绑定</h1></legend>
        <img v-bind:src="imgSrc" :alt="'这是图片1'">
        <table border="1">
            <tr>
                <td :colspan="colNum">这是单元格1</td>
                <!--<td>这是单元格2</td>-->
                <td>这是单元格3</td>
                <td>这是单元格4</td>
                <td>这是单元格5</td>
            </tr>
            <tr>
                <td>这是单元格1</td>
                <td>这是单元格2</td>
                <td>这是单元格3</td>
                <td>这是单元格4</td>
                <td>这是单元格5</td>
            </tr>
        </table>
        <hr>
        <div class="div1" :class="{bgc:true, fontS:true}">
            class属性绑定值是对象
        </div>
        <div class="div1" :class="['bgc', 'fontS', 'fontC']">
            class属性绑定值是数组
        </div>

        <p :style="{width:'200px', height:'200px', backgroundColor:'blue'}">
            style属性绑定对象
        </p>

        <p :style="[{width:'200px', height:'200px'}, {backgroundColor:'yellow'}, {fontSize:'50px', borderRadius:'50%'}]">
            style属性绑定数组
        </p>
    </fieldset>

    <fieldset>
        <legend><h1>事件绑定</h1></legend>
        <button v-on:click="doClickNoArg">无参数点击事件</button>
        <button v-on:dblclick="doClickArg($event, 100, 200)">有参数点击事件</button>
        <button @click="simpleClick">事件简写</button>

        <!--练习1 声明div. 实现鼠标移入移除换色效果-->
        <div class="one" @mouseenter="enterDiv" @mouseleave="leaveDiv" :style="{backgroundColor:bgc}"></div>
        <!--练习2 点击按钮显示隐藏效果-->
        <div class="circle" :class="{hideDiv:isHide}"></div>
        <button @click="changeCircle">{{isHide ? '显示': '隐藏'}}</button>

        <div class="parent" @click="parentClick">
            <button @click.stop="btnClick">子级按钮</button>
            <a href="http://www.baidu.com" @click.prevent.stop>点击跳转百度</a>
            <button @click.stop.once="onceClick">一次点击</button>
        </div>
        <input type="text" @keyup.left.right="keyAction">
    </fieldset>

    <fieldset>
        <legend><h1>双向数据绑定</h1></legend>
        <input type="text" v-model="inputV">
        <p>{{inputV}}</p>
    </fieldset>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    let app = new Vue({
        // 指令vue实例的作用域
        el:'#app',
        data: {
            msg:'hello, Vue',
            isMan:true,
            vText:'今天是周二',
            vHtml:'<a href="http://www.baidu.com">点击跳转百度首页</a>',
            imgSrc:'http://img.zcool.cn/community/01d09359e1311aa8012044634e809e.jpg@2o.jpg',
            imgAlt:'这是图片1',
            colNum:2,
            bgc:'transparent',
            isHide:false,
            inputV:'默认值'
        },
        // 事件的方法
        methods: {
            doClickNoArg(e) {
                console.log(e, '无参数函数触发!');
            },
            doClickArg(e, a, b){
                console.log('参数是:', e, a, b);
            },
            simpleClick() {
                console.log('简写事件触发!');
            },
            enterDiv(){
                this.bgc = 'red';
            },
            leaveDiv(){
                this.bgc = 'transparent';
            },
            changeCircle(){
                this.isHide = !this.isHide;
            },
            parentClick() {
                alert('父级的点击事件触发');
            },
            btnClick() {
                alert('子级按钮点击事件触发');
            },
            onceClick(){
                alert('一次点击');
            },
            keyAction() {
                console.log('键盘抬起');
            }
        }
    });
</script>
</body>
</html>